:root {
  --primary-color: #2b1e15;
  --secondary-color: #ab8331;

  --hover-color: #ffeed5;
}

*, *:before, *:after {
  box-sizing: border-box;
  color: var(--primary-color);
}

body {
  background: #251109;
}

.dasgurias {
  min-height: 100vh;
  position: relative;

  &--content {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    top: calc(50% - 120px);
    transform: translateX(-50%);
    transition: top .5s ease-out;

    &--form-requested {
      top: 0;
      width: 80%;
    }
  }

  &--cta {
    $size: 187px;

    appearance: none;
    background: var(--secondary-color);
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: block;
    flex: 1;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 2vh;
    outline: none;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background .2s ease-out;
    width: $size;

    &:hover, &:active {
      background: var(--hover-color);
    }
  }

  &-logo {
    width: 40vh;
  }
}
