@import './commons/styles/breakpoints.scss';

$black: #000;
$white: #FFF;

.confirm {
  margin: 10vh 0;
  width: 90%;

  @media (min-width: $screen-sm-min) {
    width: 70%;
  }

  p {
    color: var(--text-color);
    margin: 0;
  }

  &__address,
  &__delivery,
  &__total,
  &__quantity {
    color: var(--secondary-color) !important;
    font-weight: 500;
    margin-bottom: 5px !important;
  }

  &__total-text { font-weight: 800; }
}
