@import './commons/styles/breakpoints.scss';

$black: #000;
$white: #FFF;

.confirm {
  margin: 10vh 0;
  width: 90%;

  @media (min-width: $screen-sm-min) {
    width: 70%;
  }

  &[data-loading=true] {
    filter: grayscale(1) blur(2px);

    &::before {
      background-image: url("./commons/images/loading.gif");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 20%;
      content: '';
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;
    }
  }

  p {
    color: var(--text-color);
    margin: 0;
  }

  &__address,
  &__delivery,
  &__total,
  &__quantity {
    color: var(--secondary-color) !important;
    font-weight: 500;
    margin-bottom: 5px !important;
  }

  &__total-text { font-weight: 800; }

  form {
    margin-top: 20px;
  }
}
