/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap'); */
@import './commons/styles/breakpoints.scss';

$white: #FFF;

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  font-size: 13px;
  font-weight: 600;
  margin: 4px;
  outline: none;
  padding: 0px 4px;
  position: absolute;
  right: 0;
  top: 0;
  transition: background .2s ease-out, color .2s ease-out;
  z-index: 1;

  a {
    color: var(--secondary-color);
    cursor: pointer;
    text-decoration: none;
  }

  &:hover {
    background: var(--secondary-color);

    &, & a { color: $white; }
  }

  p { margin: 0; }
}

.footer {
  background: var(--primary-color);
  bottom: 0;
  color: var(--text-color);
  font-size: 10px;
  padding: 8px 5px;
  text-align: right;
  width: 100%;

  @media (min-width: $screen-sm-min) {
    border-top: 1px solid var(--secondary-color);
    position: fixed;
  }
}
